.header {
    /* border: 5px solid black; */
    margin-bottom: 2%;
    padding: 10%;
    padding-top: 1%;
    background-color: rgb(70 70 70);
}

.header img {   
    /* border: 5px solid black; */
    float: left;
    width: 10%;
    height: 10%;
}

.header a {
    /* border: 5px solid black; */
    float: right;
    padding: 4%;
    color: white;
}